<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta charset="UTF-8"/>
  <meta name="author" content="Everaldo Veloso"/>
  <title>Flask - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}"/>
  {% block style %}{% endblock %}
</head>
<body>
  <div class="wraper">
    <header>
      <nav>
        <ul>
          <li><a href="{{url_for('bp.home')}}">Home</a></li>
          {% if user %}
          <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
          {% else %}
          <li><a href="{{url_for('bp.login')}}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
      {% block main %}
      {% endblock %}
    <footer>
      <h2>from Everaldo</h2>
    </footer>
  </div>
  {% block script %}{% endblock %}
</body>
</html>