{% extends "index.html" %}

{% block title %}Login{% endblock %}

{% block main %}
    <main>
      <form action={{url_for("auth.login")}} method="POST">
        <fieldset>
          <legend>Login</legend>
          <div>
            <input type="text" name="email" id="lemail" placeholder="" required autocomplete="off" pattern=".+@.+\..+"/>
            <label for="lemail">Email</label>
          </div>
          <div>
            <input type="password" name="password" id="lpassword" placeholder="" required autocomplete="off"/>
            <label for="lpassword">Senha</label>
          </div>
          {% with login_m = get_flashed_messages(category_filter=["login_error"]) %}
              {% if login_m %}
                  {% for message in login_m %}
                      <p>{{message}}</p>
                  {% endfor %}
              {% endif %}
          {% endwith %}
          <input type="submit"/>
        </fieldset>
      </form>
      <form action={{url_for("auth.register")}} method="POST">
        <fieldset>
          <legend>Registro</legend>
          <div>
            <input type="text" name="username" id="username" placeholder="" required autocomplete="off" minlength="5"/>
            <label for="username">Username</label>
          </div>
          <div>
            <input type"text" name="email" id="remail" placeholder="" required autocomplete="off" pattern=".+@.+\..+"/>
            <label for="remail">Email</label>
          </div>
          <div>
            <input type="password" name="password" id="rpassword" placeholder="" required autocomplete="off" minlength="8"/>
            <label for="rpassword">Senha</label>
          </div>
          {% with regis_m = get_flashed_messages(category_filter=["register_error"]) %}
              {% if regis_m %}
                  {% for message in regis_m %}
                      <p>{{message}}</p>
                  {% endfor %}
              {% endif %}
          {% endwith %}
          <input type="submit"/>
        </fieldset>
      </form>
    </main>
{% endblock %}

{% block style %}<link rel="stylesheet" href="{{url_for('static',filename='login.css')}}"/>{% endblock %}
