* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {padding: 20px;}

body,html{
  padding:0;
  margin: 0;
  height: 100%
}

.wraper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}



header{
  
  & nav{
    
    & ul{
      background-color: darkblue;
      margin:0;
      padding: 0 20px;
      display: flex;
      list-style: none;
      
      & li{
        
        & a {
          display: block;
          padding: 10px;
          color: whitesmoke;
          text-decoration: none;
        }

        & a:hover{
          background-color: rgb(65, 65, 204);
        }
      }
      
      & li:last-child{
        margin-left:auto;
        
      }
      
    }
    
  }
  
}

footer{
  padding: 0 20px;
  display: flex;
  justify-content: end;
  background-color: darkblue;
  color: whitesmoke;
  margin-top: auto;
  
  & h2 {
    font-size: 15px
  }
}
