body,html{
  padding:0;
  margin: 0;
  height: 100%
}

.wraper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}



header{
  
  & nav{
    
    & ul{
      background-color: darkblue;
      margin:0;
      padding: 0;
      display: flex;
      list-style: none;
      
      & li{
        
        & a {
          display: block;
          padding: 10px;
          color: whitesmoke;
          text-decoration: none;
        }
      }
      
      & li:last-child{
        margin-left:auto;
        
      }
      
    }
    
  }
  
}

footer{
  padding: 0 10px;
  display: flex;
  justify-content: end;
  background-color: darkblue;
  color: whitesmoke;
  margin-top: auto;
  
  & h2 {
    font-size: 15px
  }
}


fieldset{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  & legend{
    text-align: center
  }
  
  & div{
    position: relative;
    margin: 10px 0;
  }
  
  & label{
    position: absolute;
    font-size:14px;
    color:gray;
    top: 50%;
    left: 10px;
    transform: translate(0,-50%);
    transition: all 0.5s;
  }
  
  & input{
    padding:14px 10px;
    border:1px solid black;
    outline: none;
    border-radius: none;
  }
  
  & input:focus ~ label, input:not(:placeholder-shown) ~ label{
    transform: translate(0,calc(-100% - 8px));
    font-size:10px;
  }
  
  & input[type="submit"]{
    padding:10px;
    background-color: lightblue;
  }
}
